<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://upload.wikimedia.org/wikipedia/yi/thumb/6/6b/Einstein-albert.jpg/250px-Einstein-albert.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">Teacher 0</div>
        <div class="user-twitter">@teacher0</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['https://upload.wikimedia.org/wikipedia/yi/thumb/6/6b/Einstein-albert.jpg/250px-Einstein-albert.jpg']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Bio of the teacher.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
